html, body {
    margin: 0;
    height: 100%;
}

.vertical-center {
    min-height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.badge {
  vertical-align: text-bottom;
}
