<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel="stylesheet" href="https://static.tiddies.pics/css/styles.css">
        <script src="https://kit.fontawesome.com/ecef1395b9.js" crossorigin="anonymous"></script>
        <title>Anime titties bot for telegram</title>
    </head>
    <body style="background-image: url(https://static.tiddies.pics/img/ahegao.jpeg); background-size: cover">
        <div class="container-fluid vertical-center">
            <div class="bg-light p-5 rounded-3 overflow-auto my-2">
                <h1>Anime tiddies bot</h1>
                <p class="lead">This bot can post anime tiddies to your chat or into PM</p>
                <div class="d-grid gap-2 d-md-flex">
                    <a class="btn btn-lg btn-danger me-md-2" role="button" href="https://t.me/tiddies2dbot">
                        <i class="fa-brands fa-telegram"></i>&nbsp;&nbsp;Visit&nbsp;now!
                    </a>
                    <a class="btn btn-lg btn-danger" role="button" href="https://github.com/cyberimp/dokku-booba">
                        <i class="fa-brands fa-github"></i>&nbsp;&nbsp;Source<span class="d-none d-lg-inline d-md-inline">&nbsp;code</span>
                    </a>
                </div>
                <hr class="my-4">
                <p>
                    {{- /*gotype: github.com/cyberimp/dokku-booba.chatData*/ -}}
                    Some stats for this bot: <span class="badge bg-secondary">{{.Chats}}</span> active chats with bot,
                    from which <span class="badge bg-secondary">{{.Priv}}</span> is invite-only chats
                </p>

            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    </body>
</html>